body{
	background-color: black;
	overflow: hidden;
}
h3{
	margin-top: 10px
}
#game-field{
	padding: 0;
	position: relative;
}
.modal-title span { animation-name: leFlyInRight; animation-timing-function: ease-in-out }
@keyframes leFlyInRight {
    0% {
        transform: translate(40px, 0px);
        opacity: 0;
    }
    50% { transform: translate(-40px, 0px) }
}

#score-encapsulator{
	min-width: 120px;
	background-color: white;
	color: black;
	font-size: 23px;
	opacity: 0.7;
	position: absolute;
	top: 10px;
	left: 10px;
	padding: 5px;
	border-radius: 5px;
}

#leader-board-encapsulator{
	min-width: 160px;
	background-color: #00e6e6;
	color: white;
	font-size: 18px;
	opacity: 0.7;
	position: absolute;
	top: 10px;
	right: 10px;
	border-radius: 5px;
}

#leader-board{
	padding: 5px;
}

#sort-wrapper{
	margin-top: -20px;
	font-size: 14px;
}


.active{
	background-color: #4d0000;
}

canvas{
	display: block;
	background-color: white;
}
.modal-sm{
	min-width: 500px;
	width: 30%;
}

.modal-content{
	margin-top: 100px;
	background-color: black;
	border-radius: 10px;
	color: lightblue;	
}

.text-input{
	font-size: 20px;
	display: block;
	margin: auto;
	margin-bottom: 20px;
	width: 90%;
	padding: 5px;
	border-radius: 5px;
}

.error-message{
	font-size: 13px;
	color: #e60000;
}

.play-button{
	font-size: 20px;	
	display: block;
	margin: 5px auto 5px;
	width: 90%;
	background-color: #00e6e6;
	color: #FFFFFF;
}

 #play-solo-btn{
	width: 100%;
	margin: 5px auto 15px;
	font-size: 18px;	
	display: block;
	background-color: #00e6e6;
	color: #FFFFFF;
}
.GlobalScore{
	color: lightgreen;
}

.stats-btn-wrapper, .play-btn-wrapper{
	width: 90%;
	margin: auto;
}

.btn-wrapper{
	width: 90%;
	margin: 20px auto;
}

.stats, .stat-number{
	padding-top: 10px;
	font-size: 20px;
	width: 70%;
	display: inline-block;
}

.stat-number{
	width: 30%;
	font-weight: bold;
}

.modal-footer{
	clear: both;
	text-align: left;
}

.player-stats{
	font-size: 18px;
	font-weight: bold;
}


.join-button{
	color: white;
	background-color: #00e6e6;
	margin-right: 10px;
}

#game-message-encapsulator{
	position: fixed;
	width: 100%;
	bottom: 20px;
}

#game-message{
	display: table;
	font-size: 20px;
	border-radius: 5px;
	padding: 5px 15px;
	color: white;
	background-color: #e600e6;
	margin: auto;
	opacity: 0;
}

  
  @keyframes move {
	100% {
	  transform: translate3d(0, 0, -1000px);
	}	
  }

  .bubble-wrap {
	margin: 0 auto;
	width: 500px;
	height: 500px;
	transform-style: preserve-3d;
	transform-origin: center center;
	perspective: 600px;
  }
  .bubble {
	position: absolute;
	background: black;
	opacity: .7;
	border-radius: 50%;
	animation: move 3s infinite;
	
  }
  
  @for $i from 1 through 100 {
	.bubble:nth-child(#{$i}){
	   $size: random(30)+px;
	   height: $size;
	   width: $size;
	   animation-delay: -$i * .2s;
	   transform: translate3d( (random(1000) * 1px),  (random(1000) * 1px), (random(2000) * 1px));
	   background: hsl( random(360) , 70%, 50%);
	}
   
  }
  